/*General styling*/
html{
    box-sizing: border-box;
}

.content-wrap{
    max-width: 90%;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    overflow: auto;
}

.iframe-video{
    display: flex;
    border:0;
    aspect-ratio: 16/9;
    width: 75%;
    margin-bottom:25px;
    overflow: hidden;
}


.flex-container-video{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 50px;
}

.images{
    max-width: 90%;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    overflow: auto;
}

/*uncomment code to get a body that takes up 95% of the screen and puts a solid black line around it*/
body{
    font-family: 'Verdana', sans-serif;
    margin: 0 auto;
    /*width: 95%;*/
    background-color: #F9F8FF;
    /*border: black solid;*/
    /*border-top: none;*/
}

a{
    padding: 8px;
    color: #1B5299;
}

h1{
    color: #523261;
    font-size: 45px;
    margin-top: 0;
}

h2{
    color: #205571;
    font-size: 30px;
    margin-top: 25px;
    text-decoration: underline #205571;
}

h3{
    color: #C7C0C7;
    font-size: 25px;
    margin-top: 50px;
}

p{
    color: #32021F;
    width: 95%;

}

/*Start navbar styling*/
#main-nav{
    background-color: #1d2a59;
    position: sticky;
    top: 0;
    text-align: center;
}

#main-nav-contents{
    display: inline-block;
}

#main-nav-contents ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

#main-nav-contents li{
    float: left;
    border-left:thin solid #bbbbbb;
    margin:0;
}

#main-nav-contents li:last-child{
    border-right:1px solid #bbbbbb;
}

#main-nav-contents li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    margin: 0;

}

#main-nav-contents li a:hover:not(.active){
    background-color: #111111;
    outline: solid white thin;
    outline-offset: -2px;
    text-decoration: white solid underline;

}

/*Provides more visible focus highlight for user*/
#main-nav-contents li a:focus {
    outline: solid white thin;
    outline-offset: -1px;
    text-decoration: white solid underline;

}

#main-nav-contents .active{
    background-color: #32021F;
}