/*General styling*/
html{
    box-sizing: border-box;
    /*fallback font*/
    font-family: 'Verdana', sans-serif;
}


/*uncomment code to get a body that takes up 95% of the screen and puts a solid black line around it*/
body{
    margin: 0 auto;
    /*width: 95%;*/
    background-color: #F9F8FF;
    /*border: black solid;*/
    /*border-top: none;*/
}

/*Uncomment to see the boxes around divs*/
/*div{*/
/*    border: black solid;*/
/*}*/

main{
    margin-left: 10%;
}

/*Allows images to resize*/
img{
    max-width: 100%;
    height: auto;
}

/* Div classes*/
.content-wrap{
    max-width: 90%;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    /*padding: 10px;*/
    overflow: auto;
    padding-left: 3em;
    padding-right: 3em;
}


/*Container for iframe videos*/
.flex-container-video{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 3em;
    /*width: 90%;*/
    /*max-width: 90%;*/
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    /*padding: 10px;*/
    overflow: hidden;
}

/*CSS class for iframe videos*/
.iframe-video{
    display: flex;
    border:0;
    aspect-ratio: 16/9;
    /*width: 75%;*/
    margin-bottom:25px;
    overflow: hidden;
}


/*Fonts imported from google*/


.oswald-h1{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.noto-sans-p{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


/*Text styling*/
h1.oswald-h1{
    color: #523261;
    font-size: 100%;
    margin-top: .3em;
}

h2{
    color: #205571;
    font-size: 30px;
    margin-top: 25px;
    text-decoration: underline #205571;
}

h3{
    color: #C7C0C7;
    font-size: 25px;
    margin-top: 50px;
}

p.noto-sans-p{
    color: #32021F;
    width: 100%;

}

/*Link styling*/
a{
    padding: 8px;
    color: #1B5299;
}

/*Ids*/
/*Main navbar container*/
#main-nav-container{
    background-color: #1d2a59;
    position: sticky;
    top: 0;
    text-align: center;
}

/*Navbar content and styling*/
#main-nav-contents{
    display: inline-block;
}

#main-nav-contents ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

#main-nav-contents li{
    float: left;
    border-left:thin solid #bbbbbb;
    margin:0;
}

#main-nav-contents li:last-child{
    border-right:1px solid #bbbbbb;
}

#main-nav-contents li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    margin: 0;

}

#main-nav-contents li a:hover:not(.active){
    background-color: #111111;
    outline: solid white thin;
    outline-offset: -2px;
    text-decoration: white solid underline;

}

/*Provides more visible focus highlight for user*/
#main-nav-contents li a:focus {
    outline: solid white thin;
    outline-offset: -1px;
    text-decoration: white solid underline;

}

#main-nav-contents .active{
    background-color: #32021F;
}
